<div class="create-user-form">
  <form [formGroup]="createUserForm" (submit)="onSubmit()">
    <div class="create-user-form__group">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of rolesSelect" [value]="role.value">
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Avatar</mat-label>
        <input matInput placeholder="Avatar" formControlName="avatar" />
      </mat-form-field>
    </div>
    <button class="create-user-form__button" mat-fab extended>Login</button>
  </form>
</div>
