<div class="signin-form__return-button">
  <button appGoBack>Go back</button>
</div>
<div class="signin-form">
  <h1 class="signin-form__title">
    <markdown>**Sign in**</markdown>
  </h1>
  <form [formGroup]="signinForm" (submit)="onSubmit()">
    <div class="signin-form__group">
      <mat-form-field appearance="outline" class="signin-form__element">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="signin-form__element">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="signin-form__element">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="signin-form__element">
        <mat-label>Avatar</mat-label>
        <input matInput placeholder="Avatar" formControlName="avatar" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="signin-form__element">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of rolesSelect" [value]="role.value">
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="signin-form__button" mat-fab extended>Signin</button>
    </div>
  </form>
</div>
