@import 'mixins';
@import 'variables';

.landing-page {
  padding-top: 100px;
  &__signin-button, &__login-button {
    @include button-style;
    background-color: $secondary-color;
  }

  button {
    &:last-of-type {
      margin-left: 15px;
    }
  }

  &__welcome-text {
    text-align: center;
  }
}