.skeleton_card__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .skeleton_card__header__title{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .skeleton_card__text{
        margin-top: 10px!important;
    }
}

.skeleton_card__text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skeleton_card__button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}