<div class="skeleton_card">
  <div class="skeleton_card__header">
    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
    <div class="skeleton_card__header-title">
      <p-skeleton width="10rem" styleClass="mb-2" />
      <p-skeleton width="5rem" styleClass="mb-2" />
      <p-skeleton height=".5rem" />
    </div>
  </div>
  <p-skeleton width="100%" height="20rem" />
  <div class="skeleton_card__text">
    <p-skeleton width="100%" styleClass="mb-2" />
    <p-skeleton width="100%" styleClass="mb-2" />
    <p-skeleton width="100%" styleClass="mb-2" />
    <p-skeleton width="100%" styleClass="mb-2" />
    <p-skeleton width="100%" styleClass="mb-2" />
    <p-skeleton width="100%" styleClass="mb-2" />
  </div>
  <div class="skeleton_card__button">
    <p-skeleton width="6rem" height="2rem" />
    <p-skeleton width="6rem" height="2rem" />
  </div>
</div>
